.todo{
    background-color: yellow;
    height: 100vh;
}

.box
{
    width: 50%;
    height: 500px;
    background-color: rgb(207, 117, 117);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    overflow: scroll;

}
i, addinput{
    cursor: pointer;
}